#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.summary {
    font-size: 1.2rem;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem;
}